.navbar-item-custom,
.navbar-item-custom * {
  color: #fff;
}

.footer-custom {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #dfeaff;
  padding-top: 2rem;
}
